// src/assets/styles/about.scss
@import "@/assets/styles/shared.scss"; // Import shared styles

.portfolio {
    min-height: 100vh;
    padding: 2rem;
    background-color: $secondary-color;

    .portfolio-title {
        display: flex;
        width: 100%;
        flex-direction: column;

        h2 {
            text-align: right;
            margin: 0 auto;
            font-size: 4rem;
            color: white;

            img {
                padding: 0.5rem;
                width: 9rem;
            }
        }

        p {
            padding: 2rem 0;
            color: white;
            font-size: 1.2rem;
        }
    }

    .portfolio-items {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: #193541;

        .portfolio-item {
            padding: 1rem;



            img {
                object-fit: cover;
                width: 100%;
                max-height: 10rem;
                border-radius: 30px;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
                }
            }

            .portfolio-info {
                padding: 1.5rem;
                color: white;
                text-align: left;

                h3 {
                    font-size: 1.8rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

/* Tablet and Desktop media queries */
@include tablet {
    .portfolio {

        .portfolio-title {
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            gap: 2rem;

            /* Vertically centers both elements */
            h2 {
                font-size: 4rem;
                flex: 1;
            }

            p {
                padding: 2rem;
                flex: 1;
                /* Take up the remaining space on the right */
                /* Aligns the text on the right */
            }
        }

        .portfolio-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* Two columns for larger screens */
            grid-template-rows: repeat(5, 1fr);
            gap: 1.5rem;
            padding: 2rem;

            .portfolio-item img {
                max-height: unset;
            }
        }

        .div1 {
            grid-row: span 3 / span 3;
        }

        .div2 {
            grid-row: span 2 / span 2;
            /* Spans 2 rows */
        }

        .div3 {
            grid-row: span 2 / span 2;
            grid-column-start: 1;
            /* Starts in first column */
            grid-row-start: 4;
            /* Starts in row 4 */
        }

        .div4 {
            grid-row: span 3 / span 3;
            grid-column-start: 2;
            /* Starts in second column */
            grid-row-start: 3;
            /* Starts in row 3 */
        }

    }
}

@include desktop {
    .portfolio {
        .portfolio-title {
            h2 {
                font-size: 8rem;
            }

            p {
                padding: 2rem;
            }
        }
    }
}