@use "sass:color";

$primary-color: #46a889;
$secondary-color: #193541;

/* Mixins */
@mixin hover-bg($color) {
    transition: background-color 0.3s;

    &:hover {
        background-color: color.scale($color, $lightness: -10%);
    }
}

@mixin hover-box-shadow($color) {
    transition: box-shadow 0.3s, transform 0.3s ease;

    &:hover {
        box-shadow: 0 2px 5px $color;
        transform: scale(1.05);
    }
}

@mixin tablet {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1025px) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: color.scale($secondary-color, $lightness: 70%);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

main {
    flex-grow: 1;
    overflow: hidden;
}

/* Header & Navigation */
.main-header {
    display: none;
    background-color: $secondary-color;
    color: white;
    width: 100%;

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1rem 2rem;

        &__logo {
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            text-decoration: none;

            img {
                width: 2rem;
                margin-right: 0.8rem;
            }
        }

        &__items {
            display: flex;
            list-style: none;
        }

        &__item {
            margin-left: 1rem;

            a {
                font-size: 1.2rem;
                text-decoration: none;
                color: white;
                padding: 0.6rem 1rem;
                transition: color 0.3s;

                &:hover {
                    color: color.scale($primary-color, $lightness: 30%);
                }
            }

            &--cta {
                text-decoration: none;
                @include hover-bg($primary-color);
                background-color: $primary-color;
                color: white;
                padding: 0.6rem 1.2rem;
                border-radius: 1rem;
            }
        }
    }
}

.mobile-header {
    display: block;
    background-color: $secondary-color;
    color: white;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;

    &__toggle {
        color: $primary-color;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 200;
    }

    &__logo {
        img {
            width: 2rem;
            margin-right: 0.8rem;
        }
    }

    &__items {
        left: -100%;
        width: 70%;
        list-style: none;
        position: fixed;
        top: 0;
        height: 100%;
        background-color: $secondary-color;
        padding: 2rem 1rem;
        transition: left 0.3s ease-in-out;
        z-index: 150;

        &.mobile-nav--active {
            left: 0;
        }
    }

    &__item {
        margin-bottom: 1rem;

        a {
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
            padding: 0.6rem 1rem;
            transition: color 0.3s;

            &:hover {
                color: $primary-color;
            }
        }

        .mobile-nav__item--cta {
            text-decoration: none;
            @include hover-bg($primary-color);
            background-color: $primary-color;
            color: white;
            padding: 0.6rem 1.2rem;
            border-radius: 5px;
        }
    }
}

.mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 149;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.footer {
    background-color: $secondary-color;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        gap: 2rem;

        .footer-left {
            width: 100%;
            margin-bottom: 20px;

            &__title {
                margin-bottom: 20px;

                h4 {
                    margin-bottom: 10px;
                    font-size: 1.4rem;
                }

                &--links {
                    list-style: none;
                    padding: 0;

                    li {
                        margin-bottom: 10px;

                        a {
                            color: white;
                            text-decoration: none;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .footer-right {
            width: 100%;
            margin-bottom: 20px;

            &__title {
                margin-bottom: 20px;

                h4 {
                    margin-bottom: 10px;
                    font-size: 1.4rem;
                }

                a {
                    font-size: 1.5rem;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .footer-bottom {
        width: 100%;
        border-top: 1px solid $primary-color;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        p {
            padding: 0.5rem;
            font-size: 0.9rem;
        }

        .footer-bottom_list {
            list-style: none;
            padding: 0 0.5rem;
            display: flex;
            justify-content: center;

            li {
                margin-right: 10px;

                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

/* Tablet Styles */
@include tablet {
    .footer {
        overflow: hidden;

        .footer-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .footer-left {
                display: flex;
                flex-direction: column;
                width: 50%;

                .footer-left__title--links {
                    list-style: none;
                }
            }

            .footer-right {
                flex-direction: column;
                width: 50%;

                a {
                    font-size: 2rem;
                }
            }
        }

        .footer-bottom {
            flex-direction: row;
            justify-content: space-between;

            p,
            .footer-bottom_list {
                margin: 0;
            }
        }
    }

    .main-header {
        overflow: hidden;
        display: block;
        z-index: 100;
        position: fixed;
        top: 0;
    }

    .mobile-header {
        display: none;
    }
}

/* Desktop Styles */
@include desktop {
    .footer {
        overflow: hidden;

        .footer-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .footer-left {
                gap: 3rem;
                width: 35rem;
                flex-direction: row;

                .footer-left__title--links {
                    list-style: none;
                }
            }

            .footer-right {
                width: auto;
                flex-direction: column;

                a {
                    font-size: 2rem;
                }
            }
        }

        .footer-bottom {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p,
            .footer-bottom_list {
                margin: 0;
            }
        }
    }

    .main-header {
        overflow: hidden;
        display: block;
    }

    .mobile-header {
        display: none;
    }
}